CODE,PRE,KBD {
  font-family: monospace;
}
CODE,KBD {
  font-size: 100%;
}
KBD {
  font-style: oblique;
  font-weight: bolder;
}
STRONG {
  color: red;
}
DFN {
  color: green;
}
PRE.example {
  /* font-size: smaller; */
  background-color: yellow;
}
BODY {
  font-family: sans-serif;
  margin-right: 90px;
}
TABLE.menu,
UL.menu {
  padding: 1em 1em;
  background-color: #e0e0ff;
  border: solid blue;
  list-style: none;
}
TABLE.index-cp,
UL.index-cp,
TABLE.index-fn,
UL.index-fn,
TABLE.index-ky,
UL.index-ky,
TABLE.index-mt,
UL.index-mt,
TABLE.index-pg,
UL.index-pg,
TABLE.index-pl,
UL.index-pl,
TABLE.index-tp,
UL.index-tp,
TABLE.index-vr,
UL.index-vr {
  font-size: smaller;
  list-style: none;
}
div.logo { 
  position: absolute;
  width: 82px;
  height: 40px;
  top: 0em;
  right: 0em;
  background: no-repeat url("images/logo_v4_tiny.png");
}
div.logo table {
  width: 100%; 
  height: 100%;
}
div.node { 
  position: absolute;
  width: 90px;
  top: 40px;
  right: 0em;
  color: white;
  background-color: blue;
}
/* The child selectors are a hack to hide these rules from WinIE6,
   which gets confused by "fixed" */
body>div.logo,
body>div.node { 
  position: fixed;
}
div.node a:link,
div.node a:visited {
  text-decoration: none;
  color: white;
  background-color: blue;
}
div.node a:hover {
  text-decoration: none;
  color: blue;
  background-color: white;
}
ul.node {
  list-style: none;
  margin-left: 0em;
  margin-top: 0em;
  font-weight: bold;
  text-align: center;
}
/* invisible to IE: */
body>div.node ul.node {
  margin-left: -2em;
}
ul.node li {
  margin: 1em 0em;
}
ul.node hr {
  background-color: white;
  border: medium;
}
